<h2><%= @event.event %></h2>
<h3><%= link_to '新規エントリー', "/programs/new/#{@event.id}", method: :get %></h3><br>

<% if @programs != nil %>
	<h4>Program</h4>
	<% @programs.each do |program| %>
		・<%= link_to program.group, "/programs/#{program.id}", method: :get %><br>
	<% end %>
<% else %>
	<p>Programはまだありません。</p>
<% end %>

<h3><%= link_to 'Event一覧へ戻る', '/events', method: :get %></h3><br>