<!-- <div class="eventlist"> -->
	<h2>イベント一覧</h2>
	<h3><%= link_to 'イベント新規作成', '/events/new', method: :get %></h3><br>

	<% if @events != nil %>
		<% @events.each do |event| %>
			・<%= link_to event.event, "/events/#{event.id}", method: :get %>　担当者：<%=event.name%><br>
		<% end %>
	<% else %>
		<p>イベントはまだありません。</p>
	<% end %>
<!-- </div> -->
