body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.header {
  background-color: gray;
}

.heading {
  /*height: 70px;*/
  /*width: 960px;*/
  background-color: #CCCCCC;
  margin: 0 auto;
}

.title {
  padding: 15px 0 10px;
  text-align: center;
}

.navibar {
  margin: 0 auto;
  background-color: white;
}

.comment {
  text-align: center;
}

.footer {
  text-align: center;
  margin: 0 auto;
  background-color: gray;
}




/*.event-list {
  background-color: red;
}*/