body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.header {
  background-color: gray;
}

.heading {
  /*height: 70px;*/
  /*width: 960px;*/
  background-color: #CCCCCC;
  margin: 0 auto;
}

.title {
  padding: 15px 0 10px;
  text-align: center;
  font-family: fantasy;
}

.navibar {
  margin: 0 auto;
  background-color: white;
}

.comment {
  text-align: center;
  padding: 5px 0;
}

.footer {
  text-align: center;
  margin: 0 auto;
  background-color: gray;
}


.event-index {
  width: 500px;
  margin: 0 auto;
  padding: 15px 50px 0;
}

.event {
  width: 500px;
  margin: 5px auto;
  padding: 10px 30px;
  background-color: #CCCCCC;
}

.event-new {
  text-align: center;
  margin: 20px auto;
}


/*.event-list {
  background-color: red;
}*/